<mat-grid-list cols="6" rowHeight="550px">
    <mat-grid-tile colspan="4">
        <mat-card class="custom-card">
            <mat-card-title>Stromverbrauch</mat-card-title>
            <mat-card-content>
                <app-chart chartId="powerChart" [data]="allPower" [settings]="powerChartSettings"></app-chart>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="loadPower()"><mat-icon>refresh</mat-icon> Aktualisieren</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card class="custom-card compare">
            <mat-card-title>Vergleich Stromverbrauch</mat-card-title>
            <mat-card-content>
                <p>Relativer Vergleich Vormonat</p>
                <p>Absoluter Vergleich Vormonat</p>
                <p>Relativer Vergleich Vorjahr</p>
                <p>Absoluter Vergleich Vorjahr</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <mat-card class="custom-card">
            <mat-card-title>Wasserverbrauch</mat-card-title>
            <mat-card-content>
                <app-chart chartId="waterChart" [data]="allWater" [settings]="waterChartSettings"></app-chart>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="loadWater()"><mat-icon>refresh</mat-icon> Aktualisieren</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card class="custom-card compare">
            <mat-card-title>Vergleich Wasserverbrauch</mat-card-title>
            <mat-card-content>
                <p>Relativer Vergleich Vormonat</p>
                <p>Absoluter Vergleich Vormonat</p>
                <p>Relativer Vergleich Vorjahr</p>
                <p>Absoluter Vergleich Vorjahr</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <mat-card class="custom-card">
            <mat-card-title>Ölstand</mat-card-title>
            <mat-card-content>
                <app-chart chartId="oilChart" [data]="allOil" [settings]="oilChartSettings"></app-chart>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="loadOil()"><mat-icon>refresh</mat-icon> Aktualisieren</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card class="custom-card compare">
            <mat-card-title>Vergleich Ölstand</mat-card-title>
            <mat-card-content>
                <p>Relativer Vergleich Vormonat</p>
                <p>Absoluter Vergleich Vormonat</p>
                <p>Relativer Vergleich Vorjahr</p>
                <p>Absoluter Vergleich Vorjahr</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
