TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_MIGRATIONS=dist/migrations/*.js
TYPEORM_MIGRATIONS_TABLE_NAME=migrations_typeorm
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false