<div>
  <tabset [justified]="true">
    <tab heading="Strom">
      <div class="row justify-content-center mt-5">
        <div class="col-9">
          <app-power-form
            (submitPowerEvent)="submitPower($event)"
          ></app-power-form>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-9" *ngIf="postedPower">
          <app-results [resultData]="postedPower" type="POWER"></app-results>
        </div>
      </div>
    </tab>
    <tab heading="Wasser">
      <div class="row justify-content-center mt-5">
        <div class="col-9">
          <app-water-form (submitWaterEvent)="submitWater($event)">
          </app-water-form>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-9" *ngIf="postedWater">
          <app-results [resultData]="postedWater" type="WATER"></app-results>
        </div>
      </div>
    </tab>
    <tab heading="Öl">
      <div class="row justify-content-center mt-5">
        <div class="col-9">
          <app-oil-form (submitOilEvent)="submitOil($event)"></app-oil-form>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-9" *ngIf="postedOil">
          <app-results [resultData]="postedOil" type="OIL"></app-results>
        </div>
      </div>
    </tab>
  </tabset>
</div>
