<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Hausverbrauch</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'">Übersicht</a>
      <a mat-button [routerLink]="'/daten'">Daten</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'"> Übersicht </a>
      <a mat-list-item [routerLink]="'/daten'"> Daten </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>