<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8">
      <app-card title="Stromverbrauch">
        <app-chart
          chartId="powerChart"
          [data]="allPower"
          [settings]="powerChartSettings"
        ></app-chart>
      </app-card>
    </div>
    <div class="col-xl-4">
      <app-card title="Vergleich Stromverbrauch">
        <app-compare [data]="allPower" unit="KWh"></app-compare>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8">
      <app-card title="Wasserverbrauch">
        <app-chart
          chartId="waterChart"
          [data]="allWater"
          [settings]="waterChartSettings"
        ></app-chart>
      </app-card>
    </div>
    <div class="col-xl-4">
      <app-card title="Vergleich Wasserverbrauch">
        <app-compare [data]="allWater" unit="m³"></app-compare>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8">
      <app-card title="Ölstand">
        <app-chart
          chartId="oilChart"
          [data]="allOil"
          [settings]="oilChartSettings"
        ></app-chart>
      </app-card>
    </div>
    <div class="col-xl-4">
      <app-card title="Vergleich Ölstand">
        <app-compare [data]="allOil" unit="gefüllt"></app-compare>
      </app-card>
    </div>
  </div>
</div>
